.current-weather-card {
  display: grid;
  grid-template-areas:
    "city-name city-name"
    "weather-icon weather-icon"
    "temperature temperature"
    "feels-like feels-like"
    "bottom-left bottom-right";
  grid-template-rows: auto auto 1fr auto auto;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  margin: 0.5rem;
  margin-top: 1em;
  margin-right: 0;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  flex: 1;
}

.current-weather-card:hover {
  transform: scale(1.05);
}

.city-name {
  grid-area: city-name;
  font-size: 1.5rem;
  font-weight: bold;
}

.weather-icon {
  grid-area: weather-icon;
  display: flex;
  justify-content: center;
}

.weather-icon img {
  width: 200px;
}

.temperature {
  grid-area: temperature;
  font-size: 3rem;
}

.feels-like {
  grid-area: feels-like;
  font-size: 1.2rem;
}

.bottom-left {
  grid-area: bottom-left;
  text-align: left;
  font-size: 1rem;
}

.bottom-right {
  grid-area: bottom-right;
  text-align: right;
  font-size: 1rem;
}
